<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Set the root logger level to DEBUG -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Set the logger level for your specific package -->
    <logger name="org.kris.evermeet_telegram" level="DEBUG"/>
    <logger name="com.huobi.utils.ConnectionFactory" level="DEBUG"/>
</configuration>